@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-yellow);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);


.dark-theme {
    $primary-dark: mat-palette($mat-pink, 700);
    $accent-dark: mat-palette($mat-green);
    $warn-dark: mat-palette($mat-red);

    $theme-dark: mat-dark-theme($primary-dark, $accent-dark, $warn-dark);

    @include angular-material-theme($theme-dark);
}