@import "./styles/ga-common.scss";
@import "./styles/ga-variables.scss";

// Header

.ga-header {
  height: $toolbar-height;
}

.ga-toolbar-city {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

// Sidenav Content

.ga-sidenav-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: $toolbar-height;
}

// Cards

.ga-card-position {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.example-action-button {
  margin-bottom: 8px;
}
.mat-toolbar.mat-primary {
  background: #007bff;
  color: #fff;
}